h1{
    text-align: center;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:blue ;
    border-radius: 8px;
    padding: 12px;
}
p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: skyblue;
    border-radius: 8px; 
}
div {
    text-align: center;
    background-color: yellow;
}